.isLoading {
  font-size: 25px;
  position: fixed;
  top: 300px;
  left: 47%;
}

.loadingMario {
  position: fixed;
  height: auto;
  width: 168px;
  top: 201px;
  left: 45%;
  animation: sk-rotateplane 2.2s infinite ease-in-out;
}

.loadingPoke {
  position: fixed;
  height: auto;
  width: 108px;
  top: 201px;
  left: 46.5%;
  animation: ball-rotate 1.7s infinite ease-in-out;
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  25% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
  75% {
    transform: perspective(120px) rotate(0deg) rotateY(-180deg);
  }
  100% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
}

@keyframes ball-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
