.filterBar {
  height: 41%;
  width: 9%;
  position: absolute;
  top: 13px;
  left: 5%;
  border-radius: 7px;
  font-size: 18px;
  transition: 0.8s ease-in-out;
  box-shadow: 4px 3px 16px 2px rgba(0, 0, 0, 0.25);
  outline: none;
  padding-left: 45px;
}
.filterBar:focus {
  width: 25%;
}
@media only screen and (min-width: 1300px) {
  .filterBar {
    top: 14px;
    left: 4%;
  }
}
.searchIcon {
  z-index: 10;
  height: auto;
  width: 1.3%;
  position: absolute;
  top: 33%;
  left: 5.6%;
  opacity: 0.3;
}
@media only screen and (min-width: 1300px) {
  .searchIcon {
    top: 27%;
    left: 4.6%;
  }
}
.topBar {
  background-color: #e60012;
  overflow: hidden;
  position: fixed;
  width: 98.5vw;
  height: 5vw;
  border-radius: 0px 0px 200px 10px;
  box-shadow: 2px 3px 11px 1px rgba(0, 0, 0, 0.25);
  z-index: 50;
}
@media only screen and (min-width: 1300px) {
  .topBar {
    height: 3.5vw;
  }
}
.topBar a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 45px;
  font-size: 17px;
  font-weight: bold;
  transition: 0.7s;
}

.topBar a:hover {
  background-color: white;
  border-radius: 5px;
  color: black;
  border: 3px solid whitesmoke;
  letter-spacing: 5px;
  box-shadow: 2px 3px 11px 1px rgba(0, 0, 0, 0.25);
}

.topBar a.active {
  border: 3px solid whitesmoke;
  letter-spacing: 5px;
  box-shadow: 2px 3px 11px 1px rgba(0, 0, 0, 0.25);
}
