.inputBar {
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.877);

  box-shadow: 9px 0px 26px -8px rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 580px;
  left: 25px;
  border-radius: 10px;
  height: 30px;
  width: 200px;
}
.editBox {
  background-color: rgb(245, 245, 245);
  position: fixed;
  top: 500px;
  left: 2px;
  z-index: 30;
  height: 22px;
  width: 100%;
}
